# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# Android
/android/app/src/main/assets/app.token
/android/app/src.development/
/android/app/src.production/
/android/app/src.staging/

# IntelliJ
.idea/
*.iml

# Env files
.env
